################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NeuralNetworksAwari/v15/Server/sqlite3
/.vs/NeuralNetworksAwari/v15
/AwariEngine/obj
/AwariEngine/bin/Debug
/AwariEngineTests/bin/Debug
/AwariEngineTests/obj
/NeuralNetworksAwari.v12.suo
